<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <%= image_tag 'slider1.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        FIND THE BEST PIZZA IN CHICAGO
      </div>
    </div>
      <div class="item">
    <%= image_tag 'slider2.jpg', :class => 'img-responsive' %>
    <div class="carousel-caption">
      <!-- Looking for hotdogs? -->
    </div>
  </div>
    <div class="item">
    <%= image_tag 'slider3.jpg', :class => 'img-responsive' %>
    <div class="carousel-caption">
      <!-- Hungry? -->
    </div>
  </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!--map -->
<div class="main">
  <div class="map-sidebar col-xs-12 col-sm-4 pull-right">

    <!--search engine-->
    <%= form_tag places_path, method:'get', :class => 'form-inline' do %>
      <div class = 'form-group'>
        <%= text_field_tag :search, params[:search], placeholder: 'Restaurant Name', :class => 'form-control' %>
        <%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
      </div>
    <% end %>
    <br>

    <h4>Best Pizzas in Chicago</h4>
    <br />
    <div id="map"></div>
    <br />
    <br />
    <h4>About Pizza De Chicago</h4>
    <br />
    <p>We list best pizza places in Chicago.  Please feel free to add your place in town!</p>


  </div>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
    // http://stackoverflow.com/questions/3059044/google-maps-js-api-v3-simple-multiple-marker-example
    // http://stackoverflow.com/questions/16825290/google-maps-api-v3-adding-multiple-markers-w-info-windows-w-custom-text
      var locations = [
        <% @places.each do |place| %>
          <% if place == @places.last %>
          ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4]
          <% else %>
          ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4],
          <% end %>
        <% end %>
      ];
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,   
        center: new google.maps.LatLng(41.8938119, -87.664622),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var infowindow = new google.maps.InfoWindow();
      var marker, i;
      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    </script>

    <!-- restaurant -->



    <% @places.each do |place| %>
      <div class="booyah-box col-xs-12 col-sm-8 left-main">
        <div class="col-sm-8">
          <h1><%= link_to place.name, place_path(place) %></h1>
          <i><%= place.address %></i><br><br>
          <p><%= place.description %></p><br>


          <% if place.user.present? %>
            <small><%= place.user.email %></small>
          <% end %>

          <div class='like-button'>
            <button><%= link_to 'I like it', like_place_path(place), method: :put%>
            <%= place.get_upvotes.size %></button>
        
            <button><%= link_to 'Unlike', dislike_place_path(place), method: :put %>
            <%= place.get_downvotes.size %></button>
          </div>


          <br><br>
        </div>
        
        <div class="photo-in-index-page col-sm-4">
          <% if place.photos.present? %> 
            <%= link_to image_tag(place.photos.first.picture, :class => 'img-thumbnail index-image'), place_path(place)  %>
          <% end %>
        </div>



        <div class="clear"></div>
          <%if place.comments.present? %>
            <div class="col-xs-12">
              <blockquote>
                <% if place.comments.last.humanized_rating.present? %>
                  <b><%= place.comments.last.humanized_rating %></b> -
                <% end %>
                <%= place.comments.last.message %>
                <small><%= place.comments.last.user.email %></small>
              </blockquote>
            </div>
          <% end %>
        </div>
      

        
    <% end %>

  
    <div class="col-xs-12 col-sm-12 text-center">
    <%= paginate @places %>
    </div>
</div><!-- main -->


